<div class="flex flex-col text-center border-b-c2 border-b-2">
    <div class="w-full h-2 bg-c2"></div>
    <div class="flex flex-row justify-between md:justify-center items-center bg-c1 text-c4 py-4">
        <div class="ps-2 md:ps-0">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" ><h1 class="uppercase text-3xl text-c4 font-bold">Stellar Coffee</h1></a>
            <p class="italic text-sm text-c4 hidden md:block">Ready to serve you with the finest brand of coffee</p>
        </div>
        <div class="pe-2 flex flex-row md:absolute md:right-0 space-x-2 ">

            <button class="group flex transition-all duration-500 ease-in-out p-2 my-auto hover:bg-c2 rounded-sm border-2 border-c2">
                <span class="material-symbols-outlined self-center">
                    person
                </span>
                <div class="transition-all ease-in-out duration-700 hidden group-hover:flex flex-col absolute top-16 right-16 md:top-11 md:right-16 w-44 p-2 bg-c1 border-2 border-c2">
                    <button *ngIf="!isLoggedIn" class="hover:bg-c2" (click) = "showLoginPage(true)">Login</button>
                    <button *ngIf="isLoggedIn" class="hover:bg-c2">Logged in as {{loggedUserName}}</button>
                    <button *ngIf="isLoggedIn" class="hover:bg-c2">Sign-Out</button>
                </div>
            </button>
            <button class="flex transition-all duration-500 ease-in-out p-2 my-auto hover:bg-c2 rounded-sm border-2 border-c2">
                <span class="material-symbols-outlined self-center">
                    shopping_cart
                </span>
            </button>
        </div>
    </div>
    <div class="flex flex-col md:flex-row md:justify-center bg-c3 text-c4 md:space-x-4">

        <a [routerLink]="['about-us']" class="w-full md:w-auto self-center transition-all duration-500 ease-in-out py-1 px-3 hover:bg-c2">About Us</a>
        <a [routerLink]="'/'" class="w-full md:w-auto self-center transition-all duration-500 ease-in-out py-1 px-3 hover:bg-c2">Location</a>
        <a [routerLink]="'/'" class="w-full md:w-auto self-center transition-all duration-500 ease-in-out py-1 px-3 hover:bg-c2">Shop</a>
    </div>
</div>

<account-all-purpose-page [showPage] = 'isLoginPageShowed' (onCloseEmit) = 'showLoginPage(false)'></account-all-purpose-page>