<div class="bg-c1 py-2">
    <div class="w-11/12 flex flex-col mx-auto">
        <h2 class="text-xl">Reset Password</h2>
        <p class="text-xs">Have you forgotten your password? Type in your username and send. If we got your username in
            our database, we will send you a link to reset your password.</p>

        <hr class="mx-auto mt-1 border w-full">
        <form (submit)='onSubmit(loginForm)' #loginForm='ngForm'>
            <div class="flex flex-col mt-2">
                <label for="userName" class="text-sm text-start">Username<span class="text-red-600">*</span></label>
                <input name="userName"
                    class="transition-all ease-in-out duration-100 h-8 rounded-sm bg-c4 text-c1 font-bold px-2 focus-visible:rounded focus-visible:outline-none focus-visible:border-2 focus-visible:border-c2"
                    type="text" placeholder="Enter your username" [(ngModel)]='resetPasswordModel.username' required
                    #userName="ngModel">
                <div *ngIf="userName.touched && userName.invalid" class="mt-2">
                    <p *ngIf="userName.errors?.['required']" class="text-red-500 text-start text-sm font-bold">Username
                        is required</p>

                </div>
            </div>

            <div class="mt-2">
                <button class="transition-all ease-in-out duration-500 h-8 w-full bg-c2 rounded-sm hover:bg-c3"
                    [disabled]="loginForm.invalid">Reset Password</button>
            </div>

        </form>

        <hr class="mx-auto my-3 border w-full">

        <button class="text-sm" (click)="onAuthStateChanged('signup')">Don't have an account? Create one here!</button>
        <button class="text-sm" (click)="onAuthStateChanged('login')">Already have an account? Login here!</button>
    </div>
</div>