<h3 class="text-center text-6xl font-semibold my-6 text-c1">Location</h3>

<div
    class="border-t-2 border-t-c1 md:min-h-screen flex justify-center flex-col md:flex-row items-center space-x-4 mx-auto px-2 bg-c3 py-6 md:py-0">
    <img class="border-4 border-c1 shadow-lg md:w-3/5 md:ms-4" src="assets/images/location/location.jpg">

    <div class="mt-4 md:mt-0 md:w-2/5 md:me-4 text-c4 text-xl">
        <p class="  ">A cozy and vibrant coffee shop located in the heart of the city. Our team of passionate
            baristas is dedicated to providing you with the highest quality coffee experience. Step into our warm and
            inviting
            space and indulge in our carefully crafted espresso-based beverages, from rich lattes to velvety
            cappuccinos. Pair
            your drink with our delicious freshly baked pastries made with love. Whether you're looking for a quiet spot
            to work
            or a lively atmosphere to catch up with friends, Stellar Coffee has got you covered. Join us and discover
            your new
            favorite coffee spot.
        </p>

    </div>

</div>

<div class="flex flex-col justify-center border-t-2 border-t-c1 bg-c2 text-c4 pb-4">
    <h3 class="mt-4 text-4xl text-center">Opening Times</h3>
    <table class="self-center text-center mt-4 w-4/5">
        <tr class="border-b">
            <th>Day</th>
            <th>Opening Hours</th>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>09:00 - 17:00</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>09:00 - 17:00</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>09:00 - 17:00</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>09:00 - 17:00</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>09:00 - 17:00</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>09:00 - 20:00</td>
        </tr>
    </table>
</div>