<div class="flex flex-col justify-center text-c1 text-xl font-semibold mt-6">

    <p class="text-center"><span class="text-6xl block text-center">Welcome to Stellar Coffee</span> <span
            class="italic ">where a perfect cup
            of coffee meets a warm and inviting atmosphere. </span></p>

    <div
        class="border-t-2 border-t-c1 md:min-h-screen flex justify-center flex-col md:flex-row items-center space-x-4 mt-8 mx-auto px-2 bg-c3 py-6 md:py-0">
        <img class="border-4 border-c1 shadow-lg md:w-3/5 md:ms-4"
            src="assets/images/about-us/coffeebeansWithCoffeecups.jpg">
        <p class=" text-c4 font-normal mt-4 md:mt-0 md:w-2/5 md:me-4">We are passionate about
            coffee and dedicated to providing our customers with an unforgettable experience. From our carefully
            selected
            beans
            to our expertly crafted drinks, we strive for excellence in every cup.
        </p>
    </div>

    <div
        class="border-t-2 border-t-c1 md:min-h-screen flex justify-center flex-col md:flex-row items-center space-x-4 mx-auto px-2 bg-c2 py-6 md:py-0">
        <img class="border-4 border-c1 shadow-lg md:w-3/5 md:order-2 md:mx-4" src="assets/images/about-us/espresso.jpg">
        <p class="text-c4 font-normal mt-4 md:mt-0 md:w-2/5 md:order-1 md:ms-4">
            At Stellar Coffee, we go beyond just serving great coffee. Our friendly and knowledgeable baristas are here
            to guide you through our wide selection of beverages, helping you find the perfect one to suit your taste
            buds. Whether you prefer a classic espresso, a creamy latte, or a refreshing iced coffee, we have something
            for everyone.
        </p>


    </div>

    <div
        class="border-t-2 border-t-c1 md:min-h-screen flex justify-center flex-col md:flex-row items-center space-x-4 mx-auto px-2 bg-c3 py-6 md:py-0">
        <img class="border-4 border-c1 shadow-lg md:w-3/5 md:ms-4" src="assets/images/about-us/cafe.jpg">
        <p class="text-c4 font-normal mt-4 md:mt-0 md:w-2/5 md:me-4">But it's not just about the drinks at Stellar
            Coffee – it's
            about the
            experience.
            Our cozy and comfortable café is the perfect place to relax, catch up with friends, or enjoy some quiet time
            with a book. With free Wi-Fi and plenty
            of seating options, you can make yourself at home and stay awhile.
        </p>
    </div>

    <div
        class="border-t-2 border-t-c1 md:min-h-screen flex justify-center flex-col md:flex-row items-center space-x-4 px-2 bg-c2 py-6 md:py-0">
        <img class="border-4 border-c1 shadow-lg md:w-3/5 order-1 md:order-2 md:mx-4"
            src="assets/images/about-us/pastries.jpg">
        <p class="text-c4 font-normal mt-4 md:mt-0 md:w-2/5 order-2 md:order-1 md:ms-4">
            We also offer a delicious range of pastries and snacks to complement your coffee.
        </p>


    </div>

    <div
        class="border-t-2 border-t-c1 md:min-h-screen flex justify-center flex-col md:flex-row items-center mx-auto px-2 bg-c3 py-6 md:py-0">
        <img class="border-4 border-c1 shadow-lg md:w-3/5 md:me-6 md:ms-4" src="assets/images/about-us/localsupply.jpg">
        <p class="text-c4 font-normal mt-4 md:mt-0 md:w-2/5 md:me-4"> As a local business, we are proud to be part of
            the
            community. We source our beans from local suppliers, ensuring that each cup of coffee contributes to the
            local economy. We believe in sustainable practices and strive to reduce our environmental impact wherever
            possible. When you choose Stellar Coffee, you are not only supporting a small
            business but also making a positive difference in the world.
        </p>
    </div>

    <div
        class="border-t-2 border-t-c1 md:min-h-screen flex justify-center flex-col md:flex-row items-center space-x-4 mx-auto px-2 bg-c2 py-6 md:py-0">
        <img class="border-4 border-c1 shadow-lg md:w-3/5 order-1 md:order-2 md:mx-4"
            src="assets/images/about-us/serve.jpg">
        <p class="text-c4 font-normal mt-4 md:mt-0 md:w-2/5 order-2 md:order-1 md:ms-4">
            Join us at Stellar Coffee and let us transport you to a world of exceptional coffee, friendly faces, and a
            cozy
            atmosphere. We can't wait to welcome you and share our love for coffee with you.
        </p>
    </div>
</div>