<div class="mt-4 mx-10 text-c1 font-semibold">
    <div class="flex flex-row   space-x-5">
        <a routerLink="/">Home</a>
        <span>/</span>
        <a routerLink="/">Product Type</a>
        <span>/</span>
        <span>Product Name</span>
    </div>
    
    <div class="flex flex-row mt-5">
        <div class="md:w-3/5 flex justify-center">
            <img src="http://placehold.it/300">
        </div>
        <div class="md:w-2/5">
            <h3 class="text-2xl">Product Name</h3>
            <hr class="border w-1/2">
            <p class="text-sm my-2">Description</p>
            <hr class="border w-1/2">
            <p class="text-xl my-2">1000.-</p>
            <button class="transition-all duration-700 ease-in-out rounded flex justify-center py-2 w-full hover:bg-c3 bg-c1 text-c4 font-normal"><span class="self-center me-2 material-symbols-outlined text-c4">
                shopping_cart
            </span> Add to cart</button>
        </div>
    </div>
</div>

