<div class="w-full">
    <div class="flex flex-row items-center space-x-2">
        <img src="{{cartProduct?.product?.productImgUrl}}" class="h-40">
        <p class="w-3/6 text-center">{{cartProduct?.product?.productName}}</p>

        <div>
            <button (click)="onPressAdd()">
                <span class="material-symbols-outlined">
                add
                </span>
            </button>
            <p class="text-center">{{cartProduct?.quantity}}</p>
            <button (click)="onPressRemove()">
                <span class="material-symbols-outlined">
                    remove
                </span>
            </button>
        </div>
    </div>
</div>