<div class="w-full">
    <div class="flex flex-row items-center space-x-2">
        <img src="http://placehold.it/300" class="h-40">
        <p class="w-3/6">Product Name</p>

        <div>
            <button>
                <span class="material-symbols-outlined">
                add
                </span>
            </button>
            <p>40</p>
            <button>
                <span class="material-symbols-outlined">
                    remove
                </span>
            </button>
        </div>
    </div>
</div>