<div class="w-full border border-white me-10 py-2 px-2">

    <div class="flex flex-row items-center space-x-2 relative justify-between">
        <img src="{{cartProduct?.product?.productImgUrl}}" class="h-40">
        <div class="w-3/6 text-center">
            <p class="text-xl font-medium border-b border-white pb-2">{{cartProduct?.product?.productName}}</p>
            
            <p class="text-xl font-medium pt-2">${{totalPrice | number : '1.2-2'}}</p>
        </div>

        <div>
            <button (click)="onPressAdd()">
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
            <p class="text-center">{{cartProduct?.quantity}}</p>
            <button (click)="onPressRemove()">
                <span class="material-symbols-outlined">
                    remove
                </span>
            </button>
        </div>
        <div class="">
            <button (click)="onPressRemoveCompletely()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
        </div>

    </div>
</div>